 .new,.new1{
   height: 3rem;
   width:5rem;
        
    }
.i1,.i2,.i3,.i4{
    height: 2rem;
    width:4rem;



}

.next{
    justify-content: space-between;
    display: flex;
    margin-top: 0rem;
}
li{
    list-style: none;
}
  